.rssfeed .tooltip{position:relative;z-index:1;}
.rssfeed .tooltip:hover{z-index:5;color:#000;}
.rssfeed .tooltip span.tip{display: none; text-align:left;}

.rssfeed div.tooltip:hover span.tip{
display:block;
position:absolute;
top:12px; left:24px; width:350px;
border:1px solid #555;
background-color:#fff;
padding: 4px;
font-size: 0.8em;
color:#505050;
}
